{% extends 'food/base.html' %}

{% block body %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header text-white bg-info">
                    <h5 class="card-title mb-0">Login</h5>
                </div>

                <div class="card-body">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% for field in form %}
                            <div class="mb-3"> <!-- Added mb-3 for spacing between fields -->
                                <label class="form-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                                {{ field }}
                            </div>
                        {% endfor %}
                        <button class="btn btn-info" type="submit">Login</button>
                    </form>
                </div>
                
            </div>     
        </div>
    </div>
</div>



{% endblock%}

