{% extends 'food/base.html' %}

{% block body %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header text-white bg-info">
                    <h5 class="card-title mb-0">Register</h5>
                </div>

                <div class="card-body">    
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% for field in form %}
                            {% if field.name != 'usable_password' %}
                                <div class="form-group">
                                    {{ field.name }}
                                    <br>
                                    {{ field }}
                                </div>
                            {% endif %}
                        {% endfor %}
                        <button class="btn btn-primary mt-3" type="submit"> Signup</button>
                    </form>
                </div>
                
            </div>     
        </div>
    </div>
</div>

{% endblock %}
